body {
background: #EDEDED;
padding: 1em 1em 1em 1em;
}

.left {float: left; width: 400px;}

.login {
    border: 1px;
    width: 150px;
    margin-top: 25px;
}

.one {
    width: 800px;
    height: 100px;
    background: #266D7D;
    margin: auto auto;
    border-bottom: 4px solid #0C375B;
}

.one h3 { color: white; margin-left: 1em;}

.main {
    overflow: hidden;
    width: 800px;
    height: 600px;
    margin: auto auto;
    clear: both;
    background: #f1f1f1;
}

.two {
    width: 200px;
    height: 500px;
    float: left;
    background: grey;
}

.three {
    width: 600px;
    height: 500px;
    float: left;
    background: #ffffff;
}

.four {
    width: 800px;
    height: 100px;
    clear: both;
    background: #ffffff;
}

.alert {
    background: #EEEE00;
}